name: tests

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest",]
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: setup conda environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          python-version: ${{ matrix.python-version }}
          environment-file: environment.yml
          activate-environment: xgrads
          auto-activate-base: false

      - name: Check workspace
        run: echo ${{ github.workspace }}

      - name: List installed packages
        shell: bash -l {0}
        run: conda list

      - name: Test with pytest
        shell: bash -l {0}
        run: python -m pytest
